

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    color: #FFF;
}

.holy-grail header,
.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 20px;
}

.holy-grail header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background: rgb(238, 151, 129);
    width: 100%; 

    
}
 
 .holy-grail .maincat{
    display:inline-flex;
    justify-content: flex-end;
}





.headtxt{
    display:inline-flex;
    flex-direction: column;
    position:relative;
    left: 100px;
}

.menuebar {
    display: flex;
    justify-content:space-around;
    background-color:rgb(247, 188, 141);
    overflow: hidden;
  }

.menuebar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.menuebar a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.holy-grail-content {
    color: #777;
}

/**
     * Flex things:
     * — Mobile first
     * — Responsive
     */
.holy-grail {
    min-height: 100vh;
}
.body{
    background-color: rgb(58, 107, 126);
}
.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: rgb(58, 107, 126);
}

.holy-grail-content1 {
    position: relative;
    width: 100%;
    top:50px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 .products{
     position: relative;
     display: flex;
     flex-direction: column;
 }

 .buttons{
     padding: 14px 40px;
     display: flex;
     justify-content:center;
     border-radius: 12px;
     background-color: rgb(51, 193, 177);
     text-decoration: none;
     border: none;
 }

 .buttons:hover {
  background-color:rgb(239, 213, 149);
  
}

#movedown{
    position: relative;
    top: 80px;
}
#img {
    max-height: min-content;
}

#SockCareSock{
    
    border: #04AA6D;
    position: relative;
}

#sockcareContent{
    position: relative;
    top: 50px;
    display:flex;
    flex-direction: column;
    top:50px;

}

#Aboutcontent{
    position: relative;
    top:50px;
}


   
    
    



    

